table {
    text-align: center;
    margin: 0 auto;
}

tbody {
	display: inline;
}

.wy-nav-top {
	background: rgb(0, 0, 185);
}

.recomendado {
	color: green;
}

.no-recomendado {
	color: red;
}

.md-header {
    height: 3.2rem !important;
}
